@model DataAccessLibrary.Models.LocalConcert
<div class="row">
    <div class="col-12">
        <div id="concertAjax">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Artists"></label>
                <input asp-for="Artists" class="form-control" />
                <span asp-validation-for="Artists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueName"></label>
                <input asp-for="VenueName" class="form-control" />
                <span asp-validation-for="VenueName" class="text-danger"></span>
            </div>
            @* TODO implement flatpickr as an alterative to a datetime pickr *@
            <div class="form-group">
                <label asp-for="TimeStart"></label>
                <input asp-for="TimeStart" class="form-control" />
                <span asp-validation-for="TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEnd"></label>
                <input asp-for="TimeEnd" class="form-control" />
                <span asp-validation-for="TimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlyerFile"></label>
                <input asp-for="FlyerFile" class="form-control" />
                <span asp-validation-for="FlyerFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="IsApproved">
                        <input asp-for="IsApproved" />
                        @Html.DisplayNameFor(m => m.IsApproved)
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>