@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row pt-4">
    <div class="col-lg-4 col-md-2"> </div>
    <div class="col-lg-4 col-md-8 pl-5 pr-5 div-gradient rounded">
        <div class="row pt-3">
            <h3 class="mx-auto text-light">About Us</h3>
        </div>
        <hr class="hr-white" />
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p>
                    
                </p>
            </div>
            <div class="col-1"></div>
        </div>
        <br />
        <br />

    </div>
    <div class="col-lg-4 col-md-2"> </div>

</div>

