@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Add a Concert";
}

<div class="row pt-4">
    <div class="col-lg-4 col-md-2"></div>
    <div class="col-lg-4 col-md-8 pl-5 pr-5 div-gradient rounded">
        <div class="row pt-3">
            <h4 class="mx-auto text-light">Use this form to add a concert</h4>
        </div>
        <hr class="hr-white"/>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p class="text-light">
                    This form will add the concert/event to the queue to be approved by admin.
                    After it is approved it will be viewable in the Schedule page.
                    If you need any help or need faster approval either use the
                    <a class="text-danger" asp-action="Contact" asp-controller="Home">Contact</a> page
                    or message us through Instagram!
                </p>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10" id="addToApprovalForm">
                 @if (this.User.IsInRole("Trusted") || this.User.IsInRole("Administrator"))
                 {
                     <div>
                         <p>I am adding a: </p>
                         <label for="localConcertRadio">Concert</label>
                         <input type="radio" id="localConcertRadio" name="queueRadio" value="concert"/>
                         <label for="houseShowRadio">House Show</label>
                         <input type="radio" id="houseShowRadio" name="queueRadio" value="show"/>
                         <div id="trustForm1">
                             <partial name="~/Views/Trusted/_ConcertForm.cshtml"/>
                             Concert
                         </div>
                         <div id="trustForm2" style="display: none">
                             <partial name="~/Views/Trusted/_ShowForm.cshtml"/>
                             Show
                         </div>
                     </div>
                 }
                 else
                 {
                    @* // Tested and working *@
                    <partial name="~/Views/Home/_ConcertForm.cshtml"/>
                 }
            </div>
            <img src="~/img/icons/loading_skull.gif" class="col-10" id="loadingSkull" alt="" style="display: none"/>
            <div class="col-1"></div>
        </div>
        <br/>
        <br/>

    </div>
    <div class="col-lg-4 col-md-2"></div>

</div>
